/* Responsive styles */

@media (max-width: 768px) {
    .project {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 5px 0;
    }
}
